.column {
    float: left;
    width: 33.33%;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
    // chinguun 5 shar tolgoit ;
    mmsjdjkddk;
      width: 100%;
    }
  }